body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

.questions {
    margin: 0;
    width: 100%;
    text-align: center;
}
.prevnext {
    display: table-cell;
    width: 5%
}
.questionarea {
    display: table-cell;
    width: 90%;
    text-align: center;
}

.statusarea {
    text-align: center;
}
